@font-face {
    font-family: 'saudagar', 'saudagar';
    src: url(./fuente/saudagar.ttf);
}
@font-face {
    font-family: 'modern-Age' , 'modern-Age';
    src: url(./fuente/modern-age.ttf);
}
text, h1, h2, h3, h4, h5, h6, p,li, ul, a {
    margin: 0;
    padding: 0;
    color: black !important;
}
body ,html {
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 240, 186);
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
}
.logo { 
    height: 160px;
    width: 160px;
    margin: 13px;
}
.logo img { 
    width: 100%;
    height: auto;
    object-fit: cover;
}
.contenedornombre {
    display: flex;
    width: 90%;
    height: 150px;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    font-family: 'saudagar' , sans-serif;
    flex-direction: column;
    text-align: center;
}

#nombre {
    font-size: 49px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#subtlt {
    font-size: 19px;
    font-family: 'morern-Age' , sans-serif;
    margin: 1px;
    color: white;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#redes {
    justify-content: space-around;
    align-content: start;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
}
#perfil {
    color: white;
    font-size: 20px;
    align-content: center;
    font-style: bold;
}
.redes-logos {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}
.red-social img{
    width: 30px;
    height: auto
}
.red-social {
    display: flex;
    align-items: center;  
    gap: 10px;
}
.nav {
    width: auto;
    height: 40px;
    padding: 10px;
    margin-top: 69px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(0, 0, 0);
}
.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.nav li {
    font-size: 30px;
    font-family: 'saudagar' , sans-serif;
    letter-spacing: 2px;
}
.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav a:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}